html {
  font-size: 18px;
  line-height: 1.4;
}

.container {
  width: 960px;
  font-family: "Helvetica" sans-serif;
  margin: 0 auto;
}

.banner {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  padding-top: 1rem;
}

.container header {
  display: flex;
  background-color: cadetblue;
  color: white;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo img {
  height: 1rem;
  padding-right: 1rem;
}

ul li {
  display: inline-block;
  padding-left: 2rem;
}

a {
  color: white;
}

.menu {
  display: none;
}

.message {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
  margin-right: -2rem;
}

.message p {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
}

.container.services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  height: 8rem;
}

.service-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
}

.service-image img {
  max-width: 3.5rem;
}

.service-title {
  text-align: center;
}

.company-info {
  display: flex;
  justify-content: center;
}

.info {
  width: 35%;
  padding: 0 2.5%;
}

.title {
  width: 10rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.description {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.black-logo {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem;
}

.black-logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 1080px) {
  .banner {
    height: 22rem;
    padding-top: 0rem;
  }
  .container {
    max-width: 100%;
  }
  .message {
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .message p {
    padding: 0.75rem 4rem;
    font-size: 1.33rem
  }
}

@media only screen and (max-width: 770px){
  .banner {
    background-position: 30%;
  }
  .message {
    margin-right: 6rem;
  }
  .message p {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }

}

@media only screen and (max-width: 580px) {
 ul li {
   display: none;
 }
 .menu {
   display: flex;
   justify-content: flex-end;
 }
 .container {
   width: 100%;
 }
 .banner {
   background-position: 20%;
   height: 17rem;
 }
.message {
  display: block;
   width: 100%;
   margin-top: 9rem;
 }
 .message p {
   font-size: 1rem;
   padding: 0.75rem 0;
   text-align: center;
 }
 .services {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   margin: 3rem auto;
 }
 .service {
   justify-content: center;
   height: auto;
   margin: 0.77rem;
   padding: 0;
 }
 .service-image {
   margin: 0.77rem;
 }
 .service-title {
   0.77rem;
 }
 .company-info {
   display: flex;
   flex-direction: column;
 }
 .info {
   display: block;
   width: 100%;
   padding: 0;
 }
 .title {
   text-align: center;
   width: 100%;
 }
 .description {
   margin: 1rem 0 4rem 0;
   padding: 0;
   font-size: 0.77rem;
 }

 .black-logo {
   display: flex;
  justify-content: center;
   width: 100%;
 }
 .black-logo span {
   display: none;
 }
 .black-logo img {
   justify-content: center;
 }
}
